:root {
	--font-size: 14; /* px */
	--menu-width: 13rem;

	--body-bg: #fff;
	--body-text: #333;
	--link-text: #2f5ab8;
	--link-text-hover: #4678e3;
	--note-text: #ccc;

	--logo-text: #a0a0a0;
	--panel-bg: #fcfcfc;
	--code-bg: rgba(47, 90, 184, 0.1);
	--panel-border: #e0e0e0;
	--menu-hover: #f3f3f3;
	--menu-active: #d6dff6;
	--header-bg: #d6dff6;
	--header-text: #000;
	--warning-text: #f60;
	--version-text: #f60;

	--input-bg: #fff;
	--input-text: #000;
	--input-border: #aaa;
	--button-bg: #eee;
	--button-bg-hover: #ddd;
	--button-borer: #ccc;
	--button-default-bg: #d6dff6;
	--button-default-bg-hover: #bfd2ff;
	--button-default-border: #7a89d9;
	--required-border: #c40;
	--select-arrow: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTcuNDEsOC41OEwxMiwxMy4xN0wxNi41OSw4LjU4TDE4LDEwTDEyLDE2TDYsMTBMNy40MSw4LjU4WiIgLz48L3N2Zz4=");

	--table-bg: #fff;
	--table-odd-bg: #f6f6f6;
	--table-border: #aaa;

	--message-ok-bg: #e0f9e0;
	--message-ok-text: #060;
	--message-error-bg: #f9e0e0;
	--message-error-text: #900;
}

@media (prefers-color-scheme: dark) {
	:root {
		--body-bg: #111;
		--body-text: #ccc;
		--link-text: #ace;
		--link-text-hover: #e99;
		--note-text: #666;

		--logo-text: #888;
		--panel-bg: #333;
		--panel-border: #555;
		--header-bg: #434b68;
		--header-text: #eee;
		--warning-text: #d63;
		--version-text: #d63;

		--input-bg: #000;
		--input-text: #eee;
		--input-border: #666;
		--button-bg: #333;
		--button-bg-hover: #444;
		--button-borer: #555;
		--button-default-bg: #434b68;
		--button-default-bg-hover: #4f5878;
		--button-default-border: #687a98;
		--required-border: #d63;
		--select-arrow: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0iI2VlZSI+PHBhdGggZD0iTTcuNDEsOC41OEwxMiwxMy4xN0wxNi41OSw4LjU4TDE4LDEwTDEyLDE2TDYsMTBMNy40MSw4LjU4WiIvPjwvc3ZnPg==");

		--table-bg: #111;
		--table-odd-bg: #292929;
		--table-border: #555;

		--message-ok-bg: #464;
		--message-ok-text: #e0f6e0;
		--message-error-bg: #733;
		--message-error-text: #f6e0e0;
	}
}
